{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Projects | {{ block.super }}
{% endblock %}
{% block work_content %}
    {#    {% include 'nab_bar.html' %}#}
    <div style="margin-top:100px;"></div>

    <!-- Page Content -->
    <div class="container">
        <!-- Page Header -->
        {% if ios_apps %}
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h1 class="">Apps
                        <small>iOS</small>
                    </h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for item in ios_apps %}
                    <div class="col-md-4 portfolio-item">
                        <a href="{{ item.get_absolute_url }}">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" class="img-responsive" alt="">
                            {% else %}
                                <img class="img-responsive" src="{% static 'images/default_1.png' %}" alt="{{ item.title }}">
                            {% endif %}
                        </a>
                        <h3>
                            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                        </h3>
                        <p>{{ item.detail|truncatechars:100 }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if android_apps %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="">Apps
                        <small>Android</small>
                    </h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for item2 in android_apps %}
                    <div class="col-md-4 portfolio-item">
                        <a href="{{ item2.get_absolute_url }}">
                            {% if item2.image %}
                                <img class="img-responsive" src="{{ item2.image.url }}" alt="">
                            {% else %}
                                <img class="img-responsive" src="{% static 'images/default_1.png' %}" alt="{{ item.title }}">
                            {% endif %}
                        </a>
                        <h3>
                            <a href="{{ item2.get_absolute_url }}">{{ item2.title }}</a>
                        </h3>
                        <p>{{ item2.detail|truncatechars:100 }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if websites %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="">Websites
                        <small></small>
                    </h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for item3 in websites %}
                    <div class="col-md-4 portfolio-item">
                        <a href="{{ item3.get_absolute_url }}">
                            {% if item3.image %}
                                <img class="img-responsive" src="{{ item3.image.url }}" alt="">
                            {% else %}
                                <img class="img-responsive" src="{% static 'images/default_1.png' %}" alt="{{ item.title }}">
                            {% endif %}
                        </a>
                        <h3>
                            <a href="{{ item3.get_absolute_url }}">{{ item3.title }}</a>
                        </h3>
                        <p>{{ item3.detail|truncatechars:100 }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if python %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="">Scripts
                        <small>Python</small>
                    </h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for item3 in python %}
                    <div class="col-md-4 portfolio-item">
                        <a href="{{ item3.get_absolute_url }}">
                            {% if item3.image %}
                                <img class="img-responsive" src="{{ item3.image.url }}" alt="">
                            {% else %}
                                <img class="img-responsive" src="{% static 'images/default_1.png' %}" alt="{{ item.title }}">
                            {% endif %}
                        </a>
                        <h3>
                            <a href="{{ item3.get_absolute_url }}">{{ item3.title }}</a>
                        </h3>
                        <p>{{ item3.detail|truncatechars:100 }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
