{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block head_extras %}
    <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
    <meta property="og:image"         content="" />
    <meta property="og:title"         content="My Tweet scheduler"/>
{% endblock %}


{% block title %}
	Tweetme | {{ block.super }}
{% endblock %}
{% block content_detail %}
	<div style="margin-top:180px;"></div>
	<div class="row">
		<div class="col-lg-4 col-md-6 img-rounded" style="text-align: center;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>324</h3>
				</div>
				<div class="panel-footer">
					<p>Total Tweeted</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 img-rounded" style="text-align: center;">
			<div class="panel panel-primary" style="border-color: green">
				<div class="panel-heading" style="background-color: green; color: white;">
					<h3>324</h3>
				</div>
				<div class="panel-footer">
					<p>Total Scheduled</p>
				</div>

			</div>
		</div>
		<div class="col-lg-4 col-md-6 img-rounded" style="text-align: center;">
			<div class="panel panel-primary" style="border-color: orange;">
				<div class="panel-heading" style="background-color: orange; color: white;">
					<h3>324</h3>
				</div>

				<div class="panel-footer">
					<p>Today's Tweeted</p>
				</div>

			</div>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Tweet</th>
				<th>Status</th>
				<th>Attachment</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			{% for tweet in tweets %}
				<tr 
					{% if tweet.status == 0 %}
						class="info"
					{% elif tweet.status == 1 %}
					{% elif tweet.status == 2 %}
						class="danger"
					{% endif %}
				>
					<td>{{tweet.tweet}}</td>
					<td>
						<b style="font-size: 1.2em">
							{{tweet.get_status_display}}
						</b>
						<br>
						<i>{% if tweet.status == 0 %}
							{{tweet.tweeton|timeuntil}} left
							{% else %}
							{{tweet.tweeton|timesince}} ago
							{% endif %}
						</i>
					</td>
					<td>{{tweet.get_image_type_display}}</td>
					<td><a href="{{ tweet.get_absolute_url }}">View details</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}