{% extends 'cereminder/index.html' %}
{% load staticfiles %}
<head>
    {% block title %}
        Event Details | {{block.super}}
    {% endblock %} 

    {% block head_extra %}
        <!-- Custom CSS -->
        <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
        <link href="{% static 'ceremind/css/shop-item.css' %}" rel="stylesheet">
        <link href="{% static 'ceremind/css/invitation_card.css' %}" rel="stylesheet">

    {% endblock %}        

</head>

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <p>Complete Itenary</p>
            <div class="list-group">
                {% for e in event.event_similar.all %}
                    <a href="{{ e.get_absolute_url }}" class="list-group-item {% if e.id == event.id %}active{% endif %} ">{{e.get_event_type_display}}</a>
               {% endfor %}
            </div>
            <div class="row well">
                <p style="color: RED">BRIEFING</p>
                <div class="invite-card">
                    {% if event.event_type == 1 %}
                        <h2>On {{event.event_date|date:"d F Y" }}, {% for a in event.bride_side.all %}{{ a.name }}{% endfor %} and {% for a in event.bridegroom_side.all %}{{ a.name }}{% endfor %}, will be celebrating their Mahendi at {{event.event_date|date:"g:i A" }} in {% for a in event.event_location.all %}{{a.hall_name}}{% endfor %}.<br> <i>conditional</i> And you have been invited</h2>
                    {% elif event.event_type == 2 %}
                        <h2>On {{event.event_date|date:"d F Y" }}, {% for a in event.bride_side.all %}{{ a.name }}{% endfor %} and {% for a in event.bridegroom_side.all %}{{ a.name }}{% endfor %}, will be getting Married at {{event.event_date|date:"g:i A" }} in {% for a in event.event_location.all %}{{a.hall_name}}{% endfor %}.<br> <i>conditional</i> And you have been invited</h2>
                    {% elif event.event_type == 3 %}
                        <h2>On {{event.event_date|date:"d F Y" }}, {% for a in event.bride_side.all %}{{ a.name }}{% endfor %} and {% for a in event.bridegroom_side.all %}{{ a.name }}{% endfor %}, will have their Valima at {{event.event_date|date:"g:i A" }} in {% for a in event.event_location.all %}{{a.hall_name}}{% endfor %}.<br> <i>conditional</i> And you have been invited</h2>
                    {% endif %}                
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="invite-card">
                <h1>
                    {% for a in event.bride_side.all %}
                        {{ a.name }}
                    {% endfor %}
                        weds
                    {% for a in event.bridegroom_side.all %}
                        {{ a.name }}
                    {% endfor %}
                </h1>            
            </div>
            <div class="thumbnail">                
                <img class="img-responsive" src="{% static 'base/images/800x300.png' %}" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{event.event_date|date:"g:i A" }}<br>{{event.event_date|date:"d F Y" }}<br>{{event.event_date|date:"l" }}</h4>
                    {% for a in event.event_location.all %}
                        <h4><a href="#">{{a.hall_name}}</a></h4>
                        <p>{{a.hall_location}}</p>
                    {% endfor %}
                </div>
<!--                 <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div> -->
            </div>

            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Relational Information</h2>
                        <p>Information of families.</p>                    
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Bride</h3>
                        <p><b>Bride's Name : </b>{% for a in event.bride_side.all %}{{ a.name }}{% endfor %}</p>
                        <p><b>Bride's Father : </b>{% for a in event.bride_side.all %}{{ a.father_name }}{% endfor %}</p>
                    </div>

                    <div class="col-md-6">
                        <h3>Bridegroom</h3>
                        <p><b>Bridegroom's Name : </b>{% for a in event.bridegroom_side.all %}{{ a.name }}{% endfor %}</p>
                        <p><b>Bridegroom's Father : </b>{% for a in event.bridegroom_side.all %}{{ a.father_name }}{% endfor %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}