{% extends 'cereminder/index.html' %}
{% load staticfiles %}
<head>
	{% block title %}
		Next {{events.count}} Events | {{block.super}}
	{% endblock %}
	{% block head_extra %}
		<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
		<link href="{% static 'ceremind/css/invitation_card.css' %}" rel="stylesheet">
	{% endblock %}
</head>


{% block content %}
	<h1>Next Event:</h1>
	<hr>
	{% for event in events %}
		<div class="panel panel-success">
  			<div class="panel-body">
				<div class="col-md-3">
					<h2><a href="{{ event.get_absolute_url }}">{{event.get_event_type_display}}</a></h2>
				</div>
				<div class="col-md-3">
					<h5>
						{% for a in event.bride_side.all %}
							{{ a.name }}
						{% endfor %}
						weds
						{% for a in event.bridegroom_side.all %}
							{{ a.name }}
						{% endfor %}
					</h5>
				</div>
				<div class="col-md-6">

					<p class="pull-right" style="font-size: 3em">{{event.event_date|timeuntil}}<small style="font-size: 0.2em;">LEFT</small></p>
					{% for a in event.event_location.all %}
						<p><b>{{a.hall_name}}</b></p>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}	

