{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}
    Blogs Archive | {{ block.super }}
{% endblock %}
{% block content %}

    <div style="margin-top:180px;"></div>
    <div style="margin-left:40px;">
        {% if all_tags %}
            <div class="row">
                <h1 style="text-align: center;margin: 10px, 10px, 10px, 10px;">Tags <br><small>connected to all of the blogs on this site.</small></h1>
                <br>
                <p><b>Total Tags :</b>{{ all_tags.all.count }}</p> <br>
            </div>
            {% for tag in all_tags.all %}
                    <div class="col-lg-2 col-md-2 col-sm-4" style="margin-left: 20px; margin-right: 20px;">
                        <p><a href="{{ tag.get_absolute_url }} "> {{ tag }}</a></p><br>
                    </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <h3>Oh no! There are no tags yet!</h3>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block left_content %} 
    <div style="margin-top:180px;"></div>
    <div style="margin-left: 20px; margin-right: 20px" class="">

    {% if posting_privilage %}
        <p>Post New Blogs </p>
        <p><a href="{% url 'blogs:create' %}" class="btn btn-primary" role="button">Post New!</a></p>
        <br>
        <hr>
    {% endif %}
<!--     <p>Search all <i>Number of Blogs</i> in Blogs:</p>
    <form method="get" action="">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search Blog"
                       value="{{ request.GET.q }}">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit" value="Search"><i class="fa fa-search"></i></button>
      </span>
            </div>
        </div>
    </form> -->
    <br>
    <br>
    <hr>
    <a style="font-size: 1.9em" href="{% url 'blogs:list' %}">Check out my latest blogs</a><br><br>
    <a style="font-size: 1.9em" href="{% url 'blogs:archive' %}">Blog Archives</a><br><br>
    </div>
{% endblock %}
