{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block head_extras %}
    <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
    <meta property="og:image"         content="" />
    <meta property="og:title"         content="Tags | {{ block.super }}"/>
{% endblock %}


{% block title %}
    Tags | {{ block.super }}
{% endblock %}
{% block content %}

    <div style="margin-top:180px;"></div>
    <div style="margin-left:40px;">
        {% if all_tags %}
            <div class="row">
                <h1 style="text-align: center;margin: 10px, 10px, 10px, 10px;">Tags <br><small>connected to all of the blogs on this site.</small></h1>
                <br>
                <p><b>Total Tags :</b>{{ all_tags.all.count }}</p> <br>
            </div>
            {% for tag in all_tags.all %}
                    <div class="col-lg-2 col-md-2 col-sm-4" style="margin-left: 20px; margin-right: 20px;">
                        <p><a href="{{ tag.get_absolute_url }} "> {{ tag }}</a></p><br>
                    </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <h3>Oh no! There are no tags yet!</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block left_content %}
    <p style="visibility: hidden" >Search Blogs:</p>
    <form method="get" action="" style="visibility: hidden">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search Blog"
                       value="{{ request.GET.q }}">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit" value="Search"><i class="fa fa-search"></i></button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>
        <br>
    <br>
    <hr>
    <a style="font-size: 1.9em" href="{% url 'blogs:list' %}">Check out my latest blogs</a><br><br>
    <a style="font-size: 1.9em" href="{% url 'blogs:archive' %}">Blog Archives</a><br><br>
{% endblock %}
