{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block head_extras %}
    <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
    <meta property="og:image"         content="" />
    <meta property="og:title"         content="Blogs"/>
{% endblock %}


{% block title %}
    {{ block.super }}
{% endblock %}
{% block content %}

    <div style="margin-top:180px;"></div>
    {% if all_blogs %}
    
    <div class="row">
        <h1 style="text-align: center;margin: 10px, 10px, 10px, 10px;">Blogs. <small>WHAT WE HAVE LEARNED SO FAR...</small></h1>
        <br>
    </div>
        {% for blog in all_blogs %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="thumbnail">
                        {% if blog.tags.all %}
                            {% for tag in blog.tags.all %}
                                <a class="pull-right" href="{{ tag.get_absolute_url }}"> &nbsp;{{ tag }} </a> 
                            {% endfor %}
                            <a class="pull-right" href="{% url 'blogs:all_tag' %}"><b> Tags: </b></a>
                        {% endif %}

                        <div style="margin-left: 20px; margin-right: 20px;">
                            {% if blog.draft %}<span style="color: red"><b>DRAFT</b></span>{% endif %}
                            {% if blog.publish > today %}<span style="color: green"><b>Future blog</b></span>{% endif %}
                            <h3><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>

                            {% if blog.image %}
                                <img src="{{ blog.image.url }}" class="img-responsive">
                                <br>
                            {% endif %}
                            <p>blog author : {{ blog.user }}</p>
                            {% if blog.timestamp <= blog.updated %}
                                <p>Updated : {{ blog.updated|timesince }} ago</p>{% else %}
                                <p>Added : {{ blog.timestamp|timesince }} ago</p>{% endif %}
                            <hr>
                            <div class="">
                                <p style="margin-left: 20px">{{     blog.detail|markdown|truncatewords:50 }} <a href="{{ blog.get_absolute_url }}"> read more</a></p>
                                
                            </div>
                            <br>
                            <hr>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <!--  In menu ads from adsense. Should like just like the list. -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout="text-only"
                     data-ad-layout-key="-gu-1d+67-3c-9k"
                     data-ad-client="ca-pub-7313204296797742"
                     data-ad-slot="6653245714"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <br><br><br>
            </div>
        </div>

        <div class="row">
        {% if all_blogs %}
        <div class="pagination col-lg-12">
            <ul class="step-links pager">
                {% if all_blogs.has_previous %}
                    <li><a href="?{{ page_request_var }}=

                            {{ all_blogs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer</a>
                    </li>
                {% endif %}

                <span class="current">
                    Page {{ all_blogs.number }} of {{ all_blogs.paginator.num_pages }}.
                </span>

                {% if all_blogs.has_next %}
                    <li><a href="?{{ page_request_var }}=
                            {{ all_blogs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        </div>
    {% else %}
    <div class="row">
        <h3>Oops, There seems to be some problem. <small>No Blogs are ready yet.</small></h3>
        <h3>we are facing some problems at the server. Please visit us again.</h3>
    </div>
    {% endif %}
{% endblock %}

{% block left_content %}
    <p>Search Blogs:</p>
    <form method="get" action="">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search Blog"
                       value="{{ request.GET.q }}">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit" value="Search"><i class="fa fa-search"></i></button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>
        <br>
    <br>
    <hr>
    <a style="font-size: 1.9em" href="{% url 'blogs:archive' %}">Blog Archives</a><br><br>
    <a style="font-size: 1.9em" href="{% url 'blogs:all_tag' %}">All Tags</a><br>
{% endblock %}
