{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}
    Tag : {{this_tag}} | {{ block.super }}
{% endblock %}
{% block content %}

    <div style="margin-top:180px;"></div>
    <div style="margin-left: 20px; margin-right: 20px" class="">
        
    {% if required_blogs %}
    <div class="row">
        <h1 style="text-align: center;margin: 10px, 10px, 10px, 10px;">Tags <small>Archive</small></h1>
        <br>
        {% if this_tag.description %}
            <p><b>{{ this_tag }} :</b> {{ this_tag.description }}</p>
        {% endif %}
        <p><small><b>Total Blogs with tag : {{ this_tag }} </b>{{ this_tag.count.all }}</small></p> <br>
    </div>
        {% for blog in required_blogs %}
            <div class="row">
                <div style="margin-left: 20px; margin-right: 20px;">
                    <p>{{forloop.counter}} : &emsp; <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>&emsp;<small style="font-size: 0.69em"> 
                    {% if blog.timestamp <= blog.updated %}
                        Updated : {{ blog.updated|timesince }} ago{% else %}
                        Added : {{ blog.timestamp|timesince }} ago{% endif %}</small></p><br>
                </div>
            </div>
        {% endfor %}
        <div class="row">
<!--         <div class="pagination col-lg-12">
            <ul class="step-links pager">
                {% if all_blogs.has_previous %}
                    <li><a href="?{{ page_request_var }}=

                            {{ all_blogs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer</a>
                    </li>
                {% endif %}

                <span class="current">
                    Page {{ all_blogs.number }} of {{ all_blogs.paginator.num_pages }}.
                </span>

                {% if all_blogs.has_next %}
                    <li><a href="?{{ page_request_var }}=
                            {{ all_blogs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older</a>
                    </li>
                {% endif %}
            </ul>
        </div> -->
        </div>
    {% else %}
    <div class="row">
        <h3>Oh no! There are no blogs tagged to this tag.</h3>
    </div>
    {% endif %}
</div>
<div class="row"></div>

{% endblock %}


{% block left_content %} 
    <div style="margin-left: 20px; margin-right: 20px" class="">
    <a style="font-size: 1.9em" href="{% url 'blogs:list' %}">Check out my latest blogs</a><br><br>
    {% if all_tags %}
        <a style="font-size: 1.9em" href="{% url 'blogs:all_tag' %}">All Tags:</a><br>
        {% for tags in all_tags %}
            <a style="margin-left: 20px; font-size: 1.5em" href="">{{ tags }}</a><br>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}


