{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Curriculam Vitae | {{ block.super }}
{% endblock %}
{% block content %}
    {#    INTRO#}
    <div style="margin-top:100px;"></div>

    <div class="container">
        <h3>Curriculam Vitae
            <small>Ali <b>Khundmiri</b></small>
        </h3>
        {% if experience %}
            <p>Has Experience</p><br><hr>
        {% endif %}
        {% if almamater %}
            <p>Has alma mater</p><br><hr>
        {% endif %}
        {% if achievement %}
            <p>Has achievement</p><br><hr>
        {% endif %}
        {% if aoi %}
            <p>Has interest</p><br><hr>
        {% endif %}
        {% if eduActiv %}
            <p>Has eduactiv</p><br><hr>
        {% endif %}
        {% if skill %}
            <p>Has skills</p><br><hr>
        {% endif %}
        {% if lecture %}
            <p>Has lecture</p><br><hr>
        {% endif %}
        {% if books %}
            <p>Has books</p><br><hr>
        {% endif %}
        {% if special %}
            <p>Has special</p><br><hr>
        {% endif %}
        {% if competition %}
            <p>Has competition</p><br><hr>
        {% endif %}
        {% if f13 %}
            <p>Has f13</p><br><hr>
        {% endif %}
        {% if f14 %}
            <p>Has f14</p><br><hr>
        {% endif %}





        {#    industrial expo#}
        {#    Alma mater#}
        {#    Achievement#}
        {#    Aoi#}

        {#    educationActivities#}
        {#    Work in Progress#}
        {#    Activities now#}
        {#    Skills#}

        {#    Lecture#}
        {#    books#}
        {#    special#}
        {#    competition#}

        {#    field13#}
        {#    field14#}
    </div>
{% endblock %}