{% extends 'new_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Welcome, I am {{ block.super }}
{% endblock %}

{% block head_extras %}
{{ form.media }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mb-5">
        <h1 class="thick_title">About Me</h1>
        <p>Hi,</p>
        <p>My name is Ali, and I am A Self thought Web developer and Social Media Manager. You can find me accross the internet on <a href="https://instagram.com/alicodermaker">Instagram</a>, <a href="https://facebook.com/alicodermaker">Facebook</a>, <a href="https:github.com/alikhundmiri">Github</a> and <a href="https://twitter.com/alicodermaker">Twitter</a>.</p>
        <p>Currently I am working With Ardizen Artworks as a social Media Manager. In my free time, and After workhours I work on my Side projects and Make Things like, Retrew, <a href="http://Insta2blog.com">Insta2blog.com</a>, and Youtube Pomodoro Timer.</p>
        <br>
        <h1 class="thick_title">Hire Me</h1>
        <p>
            I am always looking for Cool People to work with. You can contact me on Instagram for quick reply.
        </p>
        <!-- <a class="btn btn-outline-primary btn-lg" href="#">Get Updates from Everything I make!</a> -->
    </div>
    <!--
    <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
            <hr>
            <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
            </address> 
    </div>
-->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12 mb-5">
        <h1 class="thick_title">Check out these</h1>
        <div class="row">
            
            <div class="col-md-4 mb-5">        
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- /.row -->

{% endblock %}