<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Ali<b> Khundmiri</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if nbar == 'blog' %} active {% endif %}">
                    <a href="{% url 'blogs:list' %}">Blog</a>
                </li>
                <li class="{% if nbar == 'cv' %} active {% endif %}">
                    <a href="{% url 'document:cv' %}">Curriculam Vitae</a>
                </li>
                <li class="{% if nbar == 'work' %} active {% endif %}">
                    <a href="{% url 'work:list' %}">All Projects</a>
                </li>
                <li {% block contactstate %}{% endblock %}>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>