{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Survey Report | {{ block.super }}
{% endblock %}

{% block head_extras %}
    {{ form.media }}
{% endblock %}

{% block createblog %}
    <div class="col-md-12" style="margin-top:200px;"></div>
	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1101_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"/g/11bxf3qc1w","geo":"IN","time":"2016-01-01 2017-08-01"}],"category":0,"property":""}, {"exploreQuery":"date=2016-01-01 2017-08-01&geo=IN&q=%2Fg%2F11bxf3qc1w","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
    <div class="col-md-12" style="margin-top:50px;"></div>
    <br>
    <br>
    <br>
{% endblock %}