<!-- Footer -->
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>find me</h3>
                        <p>Hyderabad</p>
                        <p>Chennai</p>
                        <p>Jeddah</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://twitter.com/SyedAliAK" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i
                                        class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/alikhundmiri" class="btn-social btn-outline"><span class="sr-only">Github</span><i
                                        class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Describe Me in 4 word?</h3>
                        <p>Developer | Human | Learner | Son</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Ali Khundmiri 2017
                    </div>
                </div>
            </div>
        </div>
</footer>